@import 'src/assets/styles/media-queries.scss';

.header {
  background-color: rgba(0, 0, 0, 0.8);
  // background-color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: auto;
  position: fixed;
  z-index: 1001;
  width: 100%;
  color: white;
  &__main {
    height: 80px;
  }
  mat-icon {
    color: white;
  }
  &__menu {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    @include layout-bp(xs) {
      background-color: rgba(0, 0, 0, 0.7);
    }
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    
    &.show-menu {
      height: auto;
      max-height: 1000px;
    } 
  }
  app-nav {
    display: block;
    width: 100%;
  }
}
::ng-deep .header__right {
  opacity: 0.8;
  color: white;
}
