<header class="header">
  <div class="container header__main" height100 fxLayout="row" fxLayoutAlign="space-between center">
    <div class="logo">LOGO</div>
    <div class="header__right" height100 fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="space-between center">
      <button (mousedown)="showMenu()" mat-icon-button mr6><mat-icon>menu</mat-icon></button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>translate</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeLang('en')">English</button>
        <button mat-menu-item (click)="changeLang('me')">Meitei</button>
      </mat-menu>
      <!-- <mat-form-field mb0 appearance="outline">
        <mat-select appearance="outline" (valueChange)="changeLang($event)"  [formControl]="header.lang" panelClass="header__lang">
          <mat-option value="en">English</mat-option>
          <mat-option value="me">Meitei</mat-option>
        </mat-select>
      </mat-form-field> -->
      <audio #audioRef id="audio" autoplay hidden controls loop>
        <source src="assets/pena.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
      <button ml4 (click)="toggleMusic(audioRef)" mat-icon-button>
        <mat-icon *ngIf="header.playMusic">music_note</mat-icon>
        <mat-icon *ngIf="!header.playMusic">music_off</mat-icon>
      </button>
    </div>    
  </div>
  <div class="header__menu container" fxLayout="row" fxLayoutAlign="center" [ngClass]="{'show-menu': header.showMenu}">
    <app-nav></app-nav>
  </div>
</header>
