:root {
  --epudhou-color-primary: #0168ff;
  --epudhou-color-black: #000000;
  --epudhou-color-white: #ffffff;
  --epudhou-color-blue-black: #001135;
  --epudhou-color-blue-gray: #202529;
  --epudhou-color-blue: #124191;

  --epudhou-color-dark: #001FC5;
  --epudhou-color-light: #D8FAFF;

  --epudhou-color-good: #2FCC98;
  --epudhou-color-bad: #da3434;
  --epudhou-color-okay: #ffc142;
  --epudhou-color-caution: #FF7748;

  --epudhou-color-primary-minus-1: #0058d3;
  --epudhou-color-primary-minus-2: #004299;
  --epudhou-color-primary-minus-3: #00357a;
  --epudhou-color-primary-1: #529EFF;
  --epudhou-color-primary-2: #c7e2ff;
  --epudhou-color-primary-3: #e4f1ff;

  --epudhou-color-good-minus-3: #00784E;
  --epudhou-color-good-minus-2: #089061;
  --epudhou-color-good-minus-1: #13A674;
  --epudhou-color-good-1: #43E0AB;
  --epudhou-color-good-2: #C3EDDE;
  --epudhou-color-good-3: #DEF4EC;

  --epudhou-color-okay-minus-3: #936000;
  --epudhou-color-okay-minus-2: #C58200;
  --epudhou-color-okay-minus-1: #E99B00;
  --epudhou-color-okay-1: #FFD57C;
  --epudhou-color-okay-2: #FFEBBD;
  --epudhou-color-okay-3: #FFF5DE;

  --epudhou-color-caution-minus-3: #B63000;
  --epudhou-color-caution-minus-2: #DD3A00;
  --epudhou-color-caution-minus-1: #F65A23;
  --epudhou-color-caution-1: #FDA87E;
  --epudhou-color-caution-2: #FFD3BE;
  --epudhou-color-caution-3: #FFE9DE;

  --epudhou-color-bad-minus-3: #8E0202;
  --epudhou-color-bad-minus-2: #B60909;
  --epudhou-color-bad-minus-1: #D01C1C;
  --epudhou-color-bad-1: #EA8888;
  --epudhou-color-bad-2: #F2DADA;
  --epudhou-color-bad-3: #F9EDED;

  --epudhou-color-gray-900: #333333;
  --epudhou-color-gray-800: #666666;
  --epudhou-color-gray-700: #757575;
  --epudhou-color-gray-600: #999999;
  --epudhou-color-gray-500: #cccccc;
  --epudhou-color-gray-400: #dcdcdc;
  --epudhou-color-gray-300: #ebebeb;
  --epudhou-color-gray-200: #f3f3f3;
  --epudhou-color-gray-100: #f9f9f9;

  --epudhou-color-primary-100: #E4F0FF;
  --epudhou-color-primary-200: #BADAFF;
  --epudhou-color-primary-300: #8EC2FF;
  --epudhou-color-primary-400: #4092FF;
  --epudhou-color-primary-600: #005ADF;
  --epudhou-color-primary-700: #0049B4;
  --epudhou-color-primary-800: #003480;
  --epudhou-color-primary-900: #001D47;

  --epudhou-color-yellow-900: #471B00;
  --epudhou-color-yellow-800: #7E3B02;
  --epudhou-color-yellow-700: #B06205;
  --epudhou-color-yellow-600: #D98C0F;
  --epudhou-color-yellow-500: #F7B737;
  --epudhou-color-yellow-400: #FFD568;
  --epudhou-color-yellow-300: #FFE890;
  --epudhou-color-yellow-200: #FFF0AF;
  --epudhou-color-yellow-100: #FFF7D3;
  --epudhou-color-yellow: #FFF9E4;

  --epudhou-color-red-900: #470000;
  --epudhou-color-red-800: #790303;
  --epudhou-color-red-700: #A60808;
  --epudhou-color-red-600: #C91514;
  --epudhou-color-red-500: #E23B3B;
  --epudhou-color-red-400: #F26C69;
  --epudhou-color-red-300: #FBAAA7;
  --epudhou-color-red-200: #FDC8C5;
  --epudhou-color-red-100: #FFE6E4;

  --epudhou-color-green-900: #004702;
  --epudhou-color-green-800: #037312;
  --epudhou-color-green-700: #089B2A;
  --epudhou-color-green-600: #14B949;
  --epudhou-color-green-500: #37CC73;
  --epudhou-color-green-400: #63E194;
  --epudhou-color-green-300: #A0F0BE;
  --epudhou-color-green-200: #C2F8D4;
  --epudhou-color-green-100: #E4FFEC;

  --epudhou-color-skin-100: #F5B287;
  --epudhou-color-skin-200: #F7CDA0;
  --epudhou-color-skin-300: #FDCDB6;
  --epudhou-color-skin-400: #ECBDA8;
  --epudhou-color-skin-500: #D3A897;
  --epudhou-color-skin-600: #D3977D;
  --epudhou-color-skin-700: #916957;

  --epudhou-color-neutral-100 : #F7F9FC;
  --epudhou-color-neutral-200 : #EDF1F7;
  --epudhou-color-neutral-300 : #E2E8F0;
  --epudhou-color-neutral-400 : #CCD4E0;
  --epudhou-color-neutral-500 : #A1ADBF;
  --epudhou-color-neutral-600 : #728095;
  --epudhou-color-neutral-700 : #4B5667;
  --epudhou-color-neutral-800 : #2E3848;
  --epudhou-color-neutral-900 : #1A212C;

  --epudhou-color-button-outline-primary: rgba(1, 104, 255, 0.05);
  --epudhou-color-button-outline-destructive: rgba(218, 52, 52, 0.05);
  --epudhou-color-button-outline-secondary: rgba(153, 153, 159, 0.05);
  --epudhou-color-button-outline-primary-active: rgba(0, 66, 153, 0.1);
  --epudhou-color-button-outline-destructive-active: rgba(182, 9, 9, 0.1);
  --epudhou-color-button-outline-secondary-active: rgba(153, 153, 159, 0.1);
  --epudhou-color-transparent: transparent;

  --epudhou-color-teal-100 : #E4FBFF;
  --epudhou-color-teal-200 : #B9EAF2;
  --epudhou-color-teal-300 : #90DCE5;
  --epudhou-color-teal-400 : #50C5D1;
  --epudhou-color-teal-500 : #23ABB6;
  --epudhou-color-teal-600 : #0893A8;
  --epudhou-color-teal-700 : #027490;
  --epudhou-color-teal-800 : #01516E;
  --epudhou-color-teal-900 : #003047;

  --epudhou-color-spectrum-300: #29D1FE;

}
