html, body { height: 100%; margin: 0; padding: 0; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul li { list-style: none; box-sizing: border-box}
h1, h2, h3, h4, h5, p, ol, ul, li {
  margin: 0; padding: 0; box-sizing: border-box 
}
.container {
  margin: 0 auto!important;
  max-width: 1460px;
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box
}
a.white-link {
  color: whitesmoke;
  text-decoration: none;
}
[mb0] .mat-form-field-wrapper {
  margin: 0!important;
  padding: 0!important;
}


.swiper {
  width: 100%;
  height: 80%;
  border-radius: 240px 94px 225px 67px/54px 225px 72px 255px;
  border: 10px solid var(--ipudhou-color-neutral-900);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--ipudhou-color-white);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
