:root {
    --d0: 0px;
    --d1: 4px;
    --d2: 8px;
    --d3: 12px;
    --d4: 16px;
    --d5: 20px;
    --d6: 24px;
    --d7: 28px;
    --d8: 32px;
    --d9: 36px;
    --d00: 6px;
    --d10: 10px;
    --d14: 14px;
    --d18: 18px;
    --d22: 12px;
}